
// Job paramaters to set for this environment

params.scratch = true

// Resource manager settings

// Process setting

process {

  // Global cluster parameters
  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,140,7] ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
 
  // Specific cluster parameters for each process

  // software dependencies moved to conda.config

  withName:runBWA {
        memory = { check_max( 64.GB * task.attempt, 'memory' ) }
        time = { check_max( 4.h * task.attempt, 'time' ) }
        cpus = { check_max( params.max_cpus , 'cpus' ) }
  }
  withName:runFastp {
        time = { check_max( 5.h * task.attempt, 'time' ) }
        memory = { check_max( 8.GB * task.attempt, 'memory' ) }
        cpus = 8
  }
  withName:runMultiqcLibrary {
  	time = { check_max( 6.h * task.attempt, 'time' ) }
  }
  withName:runMultiqcSample {
  	time = { check_max( 6.h * task.attempt, 'time' ) }
  }

}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h
  maxMultiqcEmailFileSize = 25.MB

}


