
// Job paramaters to set for this environment

params.outdir = "output" 
params.spades = "/ifs/data/nfs_share/ikmb_repository/software/spades/3.9.0/bin/spades.py"
params.prokka = "/ifs/data/nfs_share/ikmb_repository/software/prokka/1.11/bin/prokka"
params.picard = "/ifs/data/nfs_share/ikmb_repository/software/picard/2.9.2/picard.jar"
params.samtools = "/ifs/data/nfs_share/ikmb_repository/software/samtools/1.3/bin/samtools"
params.bwa = "/ifs/data/nfs_share/ikmb_repository/software/bwa/0.7.15/bwa"
params.trimgalore = "/ifs/data/nfs_share/ikmb_repository/software/trimgalore/0.4.4/trim_galore"

params.centre = "IKMB"

// Resource manager settings

executor {
  name="slurm"
  queueSize=50
}

// Process setting

process {

  // Global cluster parameters
  executor = 'slurm'
  queue = 'ikmb_a'
  clusterOptions = { '--qos=ikmb_a' }
  memory = { 8.GB * task.attempt }
  cpus = { 1 * task.attempt }
  time = { 2.h * task.attempt }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
 
  // Specific cluster parameters for each process

  $runTrimgalore {
	module = [ 'IKMB', 'Java/1.8.0', 'Trimgalore/0.4.4', 'Fastqc/0.11.3']
	cpus = 4
	time = { 2.h * task.attempt }
  }

  $runSpades {

    module = [ 'Spades/3.9.0' ]
    cpus = 16
    memory = { 32.GB * task.attempt }
    time = { 2.h * task.attempt }

  }

  $runProkka {

    module = [ 'Prokka/1.11', 'Perl/5.18.5' ]
    cpus = 16
    times = { 2.h * task.attempt }

  }

  $runBwaIndex {
    module = [ 'Bwa/0.7.15' ]
  }

  $runBwa {
    
    module = [ 'Bwa/0.7.15', 'Samtools/1.3' ]
    cpus = 8
    memory = "64GB"

  }

  $runMarkDuplicates {

    module = [ 'Java/1.8.0' ]

  }

}
