// Job paramaters to set for this environment

params.outdir = "output" 
params.picard = "/ifs/data/nfs_share/ikmb_repository/software/picard/2.9.2/picard.jar"

params.resfinder_db = "/ifs/data/nfs_share/ikmb_repository/databases/resfinder/12-2017"

params.centre = "IKMB"

// Resource manager settings

executor {
  name="slurm"
  queueSize=50
}

// Process setting

process {

  // Global cluster parameters
  executor = 'slurm'
  queue = 'ikmb_a'
  clusterOptions = { '--qos=ikmb_a' }
  memory = { 8.GB * task.attempt }
  cpus = { 1 * task.attempt }
  time = { 2.h * task.attempt }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
 
  // Specific cluster parameters for each process

  $runTrimgalore {
	conda = "trim-galore=0.4.4"
	cpus = 4
	time = { 2.h * task.attempt }
  }

  withName:runShovill {
	conda = "shovill"
	cpus = 16
    	memory = { 64.GB * task.attempt }
    	time = { 16.h * task.attempt }
  }

  $runDfast_core {

    module = [ 'Python/3.4.3', 'GCC/4.9.2', 'Perl/5.18.5', 'Dfast/1.0.5' ]
    cpus = 16
    time = { 2.h * task.attempt }
    memory = { 64.GB * task.attempt }
  }

  $runResfinder {
    module = [ 'Perl/5.18.5', 'Blast/2.2.26', 'Bioperl/1.6.922', 'Resfinder/current']
  }

  $runBwa {
    conda = "bwa=0.7.16 samtools=1.5"
    cpus = 8
    memory = "16GB"
   
  }

  $runMarkDuplicates {

    module = [ 'Java/1.8.0' ]
    memory = { 16.GB * task.attempt }

  }

  $runMultiQCSample {
    conda = "multiqc=1.5"
  }

  $runMultiQCProkka {
    conda = "multiqc=1.5"

  }

  $runMultiQCLibrary {
    conda = "multiqc=1.5"
  }
}
